{% extends "index.html" %}

{% block title_head %}
Personas
{% endblock title_head %}

{% block h1_header %}
Personas
{% endblock h1_header %}

{% block main %}

<a href={% url "crear_persona"%}>Crear person</a>

<form action={% url "personas" %} method="get">

    {{formulario}}

    <input type="submit" value='buscar'>
</form>



{% if persona %}
    <ul>
        {% for persona in Personas %}
        <li>{{persona.nombre}}</li>

        {% endfor %}

    </ul>

{% else %}
<p>No hay Personas creadas...</p>
{% endif %}

{% endblock main %}
